input[type=color] {
    width: 60px;
}

.tab-content {
    display: none;
    max-height: 75vh;
    overflow: auto;
}

.show-tab {
 display: block;
}

.read-only {
    background: #B1AFAf;
}

.read-only:focus {
    background: #B1AFAf;
}